div#content {
	font-family: Arial;
	font-size: 28pt;
}

div.header {
	background-color: #FF7272;
	font-family: Arial;
	font-size: 28pt;
	border: 1px solid black;
}

.qc {
	border: 1px solid black;
    padding: 20px;
    margin: 20px;
}

.disp {
	padding: 15px;
}

.qc.Instr {
    
    font-size: 32px
}