body{
    background-color: #efefef;
    
}


div#content {
	font-family: Arial;
	font-size: 28pt;
}

div.header {
	background-color: #FF7272;
	font-family: Arial;
	font-size: 28px;
	border: 1px solid black;
}

.qc {
	border: 1px solid black;
    padding: 20px;
    margin: 20px;
    background-color: white;
}

.disp {
	padding: 15px;
}

.qc.Instr {
	
    font-size: 32px
}

.dragDropOption {
	background-color: white;
	font-size: 18px;
	padding: 5px;
	cursor:move;
	position:relative; /* important (all position that's not `static`) */
	border-radius: 3px;
	border: 1px solid black;
}

.container .dragDropOption {
	margin-right: 5px;
}

.dragdropLocation {
	background-color: white;
	min-width:20px;
	min-height:20px;
	border-radius: 3px;
	border: 1px solid black;
}

.container {
	display: flex;
}

.SurveyContainer {
    font-size: 20px;
    padding-top: 10px;
}

.ChoiceContainer {
    padding-top: 5px;
}
.Choice{
    font-size: 10px;
    display: inline-block;
}