body{
    background-color: #efefef;
    
}


div#content {
	font-family: Arial;
	font-size: 28pt;
}

div.header {
	background-color: #FF7272;
	font-family: Arial;
	font-size: 28px;
	border: 1px solid black;
}

.qc {
	border: 1px solid black;
    padding: 20px;
    margin: 20px;
    background-color: white;
}

.disp {
	padding: 15px;
}

.qc.Instr {
    
    font-size: 32px;
}

.SurveyContainer {
    font-size: 20px;
    padding-top: 10px;
}

.ChoiceContainer {
    padding-top: 5px;
}
.Choice{
    font-size: 10px;
    display: inline-block;
}